# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up the development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS but must not contain
# any secret values.


FORCE_COLOR=
NODE_ENV=

MONGODB_URI=

BOT_TOKEN=
BOT_SECRET=
BOT_ID=

WEBHOOK_ALERT=
WEBHOOK_STATUS=

API_YOUTUBE=
