# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up the development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS but must not contain
# any secret values.


# General #

NODE_ENV=
BASE_URL=


# Discord #

DISCORD_TOKEN=
DISCORD_SECRET=
DISCORD_ID=


# Database #

DATABASE_URI=

UPSTASH_HOST=
UPSTASH_PASSWORD=
UPSTASH_PORT=


# Webhook URIs #

WEBHOOK_ALERT=
WEBHOOK_STATUS=


# API Keys #

API_YOUTUBE=