# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up the development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS but must not contain
# any secret values.

# follow this: https://www.freecodecamp.org/news/get-started-with-mongodb-atlas/
MONGODB_URI=""

# follow this: https://neon.tech/docs/get-started-with-neon/signing-up
POSTGRES_URI=""

# make an app here: https://discord.com/developers/applications
DISCORD_TOKEN=""
DISCORD_SECRET=""
DISCORD_ID=""

# make an app here: https://dev.twitch.tv/console/apps/create
TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""

# generate with `openssl rand -base64 32`
AUTH_COOKIE_SECRET=""
AUTH_OTP_SECRET=""

# specify a port/domain for the bridge
BRIDGE_PORT=""
BRIDGE_DOMAIN=""
# generate with `openssl rand -base64 32`
BRIDGE_TOKEN=""

# make a discord webhook
WEBHOOK_ALERT=
