/* Global */

@keyframes noise {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}


/* 404 Page */

@keyframes moon-twinkle {
  0% {
    width: 0px;
    height: 0px;
  }
  65% {
    width: 100px;
    height: 100px;
    transform: rotate(120deg);
  }
  100% {
    width: 0px;
    height: 0px;
    transform: rotate(180deg);
  }
}

@keyframes moon-shrink {
  100% {
    width: 0px;
    height: 0px;
    filter: contrast(2.5);
    transform: rotate(120deg);
  }
}

@keyframes text-fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}


/* Home Page */

@keyframes star-twinkle {
  0% {
    fill: #C0C0C0;
  }
  10% {
    fill: #F8F8F8;
    opacity: 1;
  }
  20% {
    fill: #C0C0C0;
    opacity: 0.5;
  }
}

@keyframes moon-rotate {
  from {
    opacity: 0;
    transform: translateY(100px) scale(0.75) rotate(120deg);
    transform-origin: center center;
  }
  to {
    opacity: 0.5;
    transform: translateY(0px) scale(1) rotate(0deg);
    transform-origin: center center;
  }
}

@keyframes scale-up {
  from {
    opacity: 0;
    transform: translateY(100px) scale(0.75);
    transform-origin: center center;
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
    transform-origin: center center;
  }
}
