.scrollbar-float::-webkit-scrollbar {
  display: none;
}

.scrollbar-float:hover::-webkit-scrollbar {
  display: block;
  width: 8px;
}

.scrollbar-float:hover::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-float:hover::-webkit-scrollbar-thumb {
  background-color: rgb(40 40 40);
  border-radius: 8px;
  max-width: 4px;
}
