@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --phase-gradient: linear-gradient(45deg, #7000FF, #DB00FF);
  --phase-purple: #A400FF
}

::selection {
  background-color: var(--phase-purple);
  color: white;
  -webkit-text-fill-color: white;
}

::-moz-selection {
  background-color: var(--phase-purple);
  color: white;
  -moz-text-fill-color: white;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  overflow-y: overlay;
}

.svg-inline--fa {
  vertical-align: -0.125em;
}

.min-h-dvh { 
  @apply min-h-[100dvh]
}

.phase-gradient-text {
  background-color: var(--phase-purple);
  background-image: var(--phase-gradient);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.phase-gradient-border-button {
  border-width: 0px 5px 5px 0px;
  border-style: solid;
  border-image: var(--phase-gradient);
  border-image-slice: 1;
}

.phase-gradient-border {
  border-style: solid;
  border-image: var(--phase-gradient);
  border-image-slice: 1;
}